@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.material-symbols-outlined { 
  font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Adjust size if needed */
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
        'FILL' 0,  /* Set to 1 for filled icons */
        'wght' 400, /* Weight */
        'GRAD' 0,   /* Grade */
        'opsz' 24;  /* Optical size */
}

.material-symbols-outlined.filled { font-variation-settings: 'FILL' 1 }
.material-symbols-outlined.thin { font-variation-settings: 'wght' 200 }
  
.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-32 { font-size: 32px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }
.material-symbols-outlined.md-75 { font-size: 75px; }

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #404040;
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  background: #09090b;
  border-left: 1px solid #404040;
  border-radius: 25px;
}

.scrollContainer {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollContainer::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}